<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
      
        <title>Matches</title>
      
        <!-- Bootstrap core CSS -->
        <link href="/static/paradise_tailored_app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      
        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      
        <!-- Custom styles for this template -->
        <link href="/static/paradise_tailored_app/css/matches.css" rel="stylesheet">
      
      </head>
      
      <body id="page-top">
      
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Paradise~Tailored</a>
            <img id='tailor' src=static/paradise_tailored_app/img/tailorguy.png>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      
        <!-- Header -->
        <header class="masthead">
          <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
              <h1 class="mx-auto my-0 text-uppercase">The World Awaits</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">
                <br>
                <br>
                <br>
                <br>
                Scroll down to see your custom fit vacations...</h2>
            </div>
          </div>
        </header>
      
      
        <!-- Projects Section -->
        <section id="projects" class="projects-section bg-dark">
            <div class="container">
                <div id="matches">
                <ul>
                    <li>
                        <h1>#1-Huntington Beach California</h1>
                        <div id="first_match">
                            <img id='match1' src="/static/paradise_tailored_app/img/hbeach.jpg">
                            <p id="vacation_description">Huntington Beach is a California city southeast of Los Angeles. It's known for surf beaches, such as Huntington City Beach, with its long Huntington Beach Pier. The International Surfing Museum displays longboards and other memorabilia. Sprawling Huntington Central Park features fields, gardens and lakes, plus an equestrian center. Bolsa Chica Ecological Reserve's wetlands and dunes shelter hundreds of bird species.</p>
                            <div id="book">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <button id="booking_button"><a id="link" href="/sample">Book Now</a></button>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
        </section>